$bodyBackgroundColor: black;
$fontColor: white;
$headerSwapButtons: 394px;
$sideHeaderWidth: 150px;
$projectSize: 300px;
$starFillColor: #DDB846;
$starVoidColor: $bodyBackgroundColor;
@mixin prefix($declarations, $prefixes: ()) {
    @each $property,
    $value in $declarations {
        @each $prefix in $prefixes {
            #{'-' + $prefix + '-' + $property}: $value;
        }
        #{$property}: $value;
    }
}