@import "consts";
body {
    background-color: $bodyBackgroundColor;
    color: $fontColor;
}

*,
html,
body {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    position: absolute;
}

.bob- {
    &uppercase {
        text-transform: uppercase;
    }
    &capitalize {
        text-transform: capitalize;
    }
    &tab-header {
        padding: 10px;
        border: 1px solid $fontColor;
        color: $fontColor;
        text-decoration: none;
        &.active {
            color: $bodyBackgroundColor;
            background-color: $fontColor;
        }
    }
}