<section id="bob-header">
    <header>
        <a class="bob-uppercase bob-tab-header" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">home</a>
        <a class="bob-uppercase bob-tab-header" routerLink="/resume" routerLinkActive="active">resume</a>
        <a class="bob-uppercase bob-tab-header" routerLink="/technologies" routerLinkActive="active">technologies</a>
        <a class="bob-uppercase bob-tab-header" routerLink="/contact" routerLinkActive="active">contact</a>
        <bob-hamburger-button></bob-hamburger-button>
    </header>
</section>