@import "consts";
#bob-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    &.bob- {}
}

.bob- {
    &project {
        .bob-video,
        .bob-img-fail {
            display: block;
            width: $projectSize;
            padding: 0px 10px;
        }
        // height: $projectSize;
        .bob-name {
            margin-top: 25px;
        }
        .bob-url {
            margin-top: 10px;
            margin-bottom: 20px;
            display: inline-block;
        }
    }
}